
@main("Studio Enterijer"){


<!--gallery-->
    <section id="recent-works">
        <div class="row" >
            <div>
                <h1>Our Latest Project</h1>
            </div>
            <div class="col-md-12" >
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row"  id="easyPaginate">

                                <div class="picture">
                                    <div class="col-xs-3">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/1.jpg")' alt="" style="height: 200px">
                                                <h5>
                                                    Kuhinja - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/gallery/1.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-xs-3">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/2.jpg")' alt="" style="height: 200px">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href='@routes.Assets.versioned("images/gallery/2.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-xs-3">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/3.jpg")' alt="" style="height: 200px">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href='@routes.Assets.versioned("images/gallery/3.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-xs-3">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/4.jpg")' alt="" style="height: 200px">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href='@routes.Assets.versioned("images/gallery/4.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-xs-3">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/5.jpg")' alt="" style="height: 200px">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href='@routes.Assets.versioned("images/gallery/5.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-xs-3">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/6.jpg")' alt="" style="height: 200px">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href='@routes.Assets.versioned("images/gallery/6.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-xs-3">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/7.jpg")' alt="" style="height: 200px">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href='@routes.Assets.versioned("images/gallery/7.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-xs-3">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/8.jpg")' alt="" style="height: 200px">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href='@routes.Assets.versioned("images/gallery/8.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-xs-3">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/9.jpg")' alt="" style="height: 200px">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href='@routes.Assets.versioned("images/gallery/9.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-xs-3">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/10.jpg")' alt="" style="height: 200px">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href='@routes.Assets.versioned("images/gallery/10.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-xs-3">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/11.jpg")' alt="" style="height: 200px">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href='@routes.Assets.versioned("images/gallery/11.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-xs-3">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/12.jpg")' alt="" style="height: 200px">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href='@routes.Assets.versioned("images/gallery/12.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div><!--/.item-->

                    </div>

            </div>
        </div><!--/.row-->
    </section><!--/#recent-works-->

    <script>
    $('#easyPaginate').easyPaginate({
        paginateElement: '.picture',
        elementsPerPage: 8,
        effect:'climb'
        });
</script>
    <style>
    .easyPaginateNav a {
    font-family: "Lucida Sans","Lucida Grande",sans-serif;
    font-size: 76%;
    padding:9px;
    text-align: center;

    }

    .easyPaginateNav a.current {
    font-weight:bold;
    text-decoration:underline;
    }

    .easyPaginateNav a:hover {
    background-color: #DEDEDE;
    color: #000;

    }
    </style>
}